.g-head{
    position:relative;
    height:110px;
}
.g-head>.info{
    position:relative;
    width:100%;
    height:70px;
}
.g-head>.info>.g-left{
    box-sizing:border-box;
    width:70px;
    height:70px;
    padding:10px;
}
.g-head>.info>.g-left>img{
    width:50px;
    height:50px;
    border:none;
    border-radius:25px;
}
.g-head>.info>.g-center{
    box-sizing:border-box;
    vertical-align:top;
    height:70px;
    padding:15px 0;
}
.g-head>.info>.g-center>p{
    height:20px;
    line-height:20px;
}
.g-head>.info>.g-center>p:nth-child(1){
    color:#363636;
}
.g-head>.info>.g-center>p:nth-child(2){
    color:#888888;
}
.g-head>.info>.g-right{
    position:absolute;
    right:20px;
    width:36px;
    height:22px;
    margin:24px 0;
}
.g-head>.title{
    position:relative;
    box-sizing:border-box;
    width:100%;
    height:40px;
    line-height:40px;
    border-top:#f0f0f0 1px solid;
    border-bottom:#f4f4f4 2px solid;
    color:#363636;
    font-size:16px;
}
.g-head>.title>.btn-back{
    position:relative;
    top:5px;
    left:10px;
    width:30px;
    height:30px;
    border:none;
    border-radius:50%;
    background:url(../img/icons1.png) -30px 0 no-repeat;
    background-size:auto 30px;
}
.g-head>.title>.text{
    position:relative;
    left:10px;
    height:40px;
    padding-left:10px;
    line-height:40px;
    vertical-align:top;
    font-size:16px;
}
.g-main{
    position:relative;
    width:100%;
    min-height:320px;
}
.g-main>div{
    box-sizing:border-box;
    position:relative;
    width:100%;
    height:60px;
    padding:16px 25px;
    line-height:14px;
    font-size:12px;
    color:#363636;
}
.g-main>form>div{
    width:100%;
    height:60px;
}
.g-main>form>div>input{
    display:none;
}
.g-main>form>div>label{
    display:inline-block;
    width:100%;
    height:60px;
}
.g-main>form>div>input:checked+label{
    background-color:#f2f2f2;
}
.g-main>form>div>label>img{
    position:relative;
    left:30px;
    width:40px;
    height:40px;
    margin:10px;
    border:none;
    border-radius:20px;
}
.g-main>form>div>label>.name{
    position:relative;
    left:35px;
    height:60px;
    line-height:60px;
    vertical-align:top;
    color:#363636;
}
.g-foot{
    position:relative;
    height:50px;
    width:100%;
}
.g-foot>.btn{
    position:relative;
    left:calc(50% - 60px);
    top:10px;
    width:120px;
    height:30px;
    border:none;
    border-radius:15px;
    line-height:30px;
    text-align:center;
    background-color:#12a2dd;
    color:#ffffff;
    font-size:16px;
    font-weight:600;
}
.g-foot>.btn:hover{
    background-color:#e4e4e4;
    color:#12a2dd;
}